torch
transformers
qdrant-client
rank-bm25
underthesea
langgraph
pyyaml
tqdm
pdfplumber
python-docx
pdf2image
pytesseract
fastapi
uvicorn
gradio
pydantic
bitsandbytes
sentencepiece
ragatouille
faiss-cpu
numpy<2.0.0